<%- include('../partials/header'); -%>
  <%- include('../partials/sidebar'); -%>
    <div class="main-content">
      <main>
        <div class="projects">
          <div class="table-outer">
            <div class="table-header">
              <h3>Tweets written by Bot</h3>
            </div>
            <div class="table-body">
              <div class="table-responsive">
                <table width="100%">
                  <thead>
                    <tr>
                      <td>Tweet text</td>
                      <td>Date</td>
                      <td>Time</td>
                    </tr>
                  </thead>
                  <tbody>
                    <% arr.forEach((a)=> { %>
                      <tr>
                        <td>
                          <%= a.tweetMsg %>
                        </td>
                        <td>
                          <%= a.date %>
                        </td>
                        <td>
                          <%= a.time %>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%- include('../partials/footer'); -%>